.admin-master-container{
    display: grid;
    grid-template: repeat(3, 1fr);
    gap: 10px;
    padding:  5%;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    // align-items: center;
    align-items: stretch;
    table {
        border-spacing: 10px;
        min-width: 100%;
        font-size: 20px;
    }

    table th {
        text-align: start;
        margin-bottom: 10px;
    }

    table tr {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .form-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    tbody{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}


.button-light {
    background: none;
    cursor: pointer;
    padding: 10px;
    max-width: 200px;
    border: 2px solid black;
}

.button-dark {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    max-width: 200px;
    border: 2px solid black;
}
