
h1 {
    color: red;
}

.product-card {
    width: 100px;
    height: 100px;
    background-color: black;
}

body{
    margin: 0;
    padding:1000000px;

}

nav{
    @import '../../common/header';
}

footer{
    @import '../../common/footer';
}
