* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Common globals
@import "common/vars";
@import "common/mixins";
@import "common/helper_classes";
@import "common/footer";
@import "common/header";
@import "common/typograthy";
@import "common/title";

// Pages
@import "pages/admin/login";
@import "pages/admin/index";

@import "pages/home";
@import "pages/product";
@import "pages/cart";
@import "pages/checkout";
