.site-footer {
  padding: 63.5px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr, 1fr));
  outline: 3px solid yellow;
}

.grid-item {
  outline: 1px solid black;
}

.footer-label {
  cursor: pointer;
}

.footer-inputs {
  display: flex;
}

.footer-label > input {
  border: 1px solid #b82121;
  cursor: pointer;
}

span {
  font-family: "Assistant-Regular";
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.footer-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 4px;
  padding: 24px 0 16px 0;
}

.footer-links {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .site-footer {
    background-color: #4de211;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
hr {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
}
nav .nav-links-left {
  display: flex;
}
nav .nav-links-left .hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  /* Style span tag */
}
nav .nav-links-left .hamb .hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
nav .nav-links-left .hamb .hamb-line::before,
nav .nav-links-left .hamb .hamb-line::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
nav .nav-links-left .hamb .hamb-line::before {
  top: 10px;
}
nav .nav-links-left .hamb .hamb-line::after {
  top: -10px;
}
nav .nav-links-left .side-menu {
  display: none;
}
nav .nav-links-left .side-menu:checked ~ nav {
  max-height: 100%;
}
nav .nav-links-left .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
nav .nav-links-left .side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
nav .nav-links-left .side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
nav .nav-links-left img {
  display: none;
}
nav .nav-links-left ul {
  display: none;
}
nav .nav-links-left ul li {
  list-style: none;
}
nav .nav-links-left ul li a {
  text-decoration: none;
}
nav .nav-links-left ul li a .nav-span2 {
  display: none;
}
nav .logo img {
  width: 90px;
  height: 22px;
}
nav .nav-panel-right {
  display: flex;
  align-items: center;
}
nav .nav-panel-right ul {
  display: flex;
  padding: 0;
}
nav .nav-panel-right ul li {
  display: flex;
  margin: 0 20px;
}
nav .nav-panel-right ul li a img {
  height: 20px;
  width: 20px;
}
nav .nav-panel-right ul li:nth-child(2) {
  display: none;
}

.mobile-nav {
  height: 100%;
  width: 100%;
  position: fixed;
}
.mobile-nav .mobile-menu {
  overflow: auto;
  height: 80%;
  top: 0;
}
.mobile-nav .mobile-menu ul {
  list-style: none;
  margin: 64px 32px 0 32px;
  overflow: auto;
  padding-left: 0;
}
.mobile-nav .mobile-menu ul li {
  margin: 10px 0;
  overflow: auto;
}
.mobile-nav .mobile-menu ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 15px;
  margin: 12px 0;
}
.mobile-nav .mobile-menu ul li a img {
  float: right;
}
.mobile-nav .mobile-footer {
  background-color: #F0F0F0;
  height: 20%;
  overflow: auto;
}
.mobile-nav .mobile-footer a {
  text-decoration: none;
  color: black;
  display: flex;
  overflow: auto;
  margin: 24px 0 0 24px;
}
.mobile-nav .mobile-footer a img {
  margin-right: 10px;
}

@font-face {
  font-family: Assistant-ExtraLight;
  src: url(../../fonts/Assistant-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Assistant-Light;
  src: url(../../fonts/Assistant-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Assistant-Regular;
  src: url(../../fonts/Assistant-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Assistant-SemiBold;
  src: url(../../fonts/Assistant-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Assistant-Bold;
  src: url(../../fonts/Assistant-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Assistant-ExtraBold;
  src: url(../../fonts/Assistant-ExtraBold.ttf);
  font-weight: 900;
}
@media (min-width: 600px) {
  .hidden-mobile {
    display: none;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  margin: 0;
  background-color: white;
  font-family: Assistant-Regular;
}

.main-container {
  max-width: 90%;
  margin: auto;
}

@media (min-width: 2000px) {
  .product-container {
    flex-wrap: wrap;
  }
  .product-container .product-card {
    width: 20vw;
    font-size: 24px;
    margin-right: 5vw;
    margin-bottom: 10vh;
  }
  .product-container .product-card img {
    width: 20vw;
  }
  .product-container .product-card:hover {
    box-shadow: 5px 5px 10px #888888;
    transition: 0.6s;
  }
}
@media (min-width: 900px) {
  .product-container {
    flex-wrap: wrap;
  }
  .product-container .product-card {
    width: 30vw;
    font-size: 20px;
    margin-right: 5vw;
    margin-bottom: 10vh;
  }
  .product-container .product-card img {
    width: 30vw;
  }
  .product-container .product-card:hover {
    box-shadow: 5px 5px 10px #888888;
    transition: 0.6s;
  }
}
@media (min-width: 600px) {
  .product-container {
    flex-wrap: wrap;
  }
  .product-container .product-card {
    width: 40vw;
    font-size: 16px;
    margin-right: 5vw;
    margin-bottom: 10vh;
  }
  .product-container .product-card img {
    width: 40vw;
  }
  .product-container .product-card:hover {
    box-shadow: 5px 5px 10px #888888;
    transition: 0.6s;
  }
}
hr {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
}
nav .nav-links-left {
  display: flex;
}
nav .nav-links-left .hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  /* Style span tag */
}
nav .nav-links-left .hamb .hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
nav .nav-links-left .hamb .hamb-line::before,
nav .nav-links-left .hamb .hamb-line::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
nav .nav-links-left .hamb .hamb-line::before {
  top: 10px;
}
nav .nav-links-left .hamb .hamb-line::after {
  top: -10px;
}
nav .nav-links-left .side-menu {
  display: none;
}
nav .nav-links-left .side-menu:checked ~ nav {
  max-height: 100%;
}
nav .nav-links-left .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
nav .nav-links-left .side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
nav .nav-links-left .side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
nav .nav-links-left img {
  display: none;
}
nav .nav-links-left ul {
  display: none;
}
nav .nav-links-left ul li {
  list-style: none;
}
nav .nav-links-left ul li a {
  text-decoration: none;
}
nav .nav-links-left ul li a .nav-span2 {
  display: none;
}
nav .logo img {
  width: 90px;
  height: 22px;
}
nav .nav-panel-right {
  display: flex;
  align-items: center;
}
nav .nav-panel-right ul {
  display: flex;
  padding: 0;
}
nav .nav-panel-right ul li {
  display: flex;
  margin: 0 20px;
}
nav .nav-panel-right ul li a img {
  height: 20px;
  width: 20px;
}
nav .nav-panel-right ul li:nth-child(2) {
  display: none;
}

.mobile-nav {
  height: 100%;
  width: 100%;
  position: fixed;
}
.mobile-nav .mobile-menu {
  overflow: auto;
  height: 80%;
  top: 0;
}
.mobile-nav .mobile-menu ul {
  list-style: none;
  margin: 64px 32px 0 32px;
  overflow: auto;
  padding-left: 0;
}
.mobile-nav .mobile-menu ul li {
  margin: 10px 0;
  overflow: auto;
}
.mobile-nav .mobile-menu ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 15px;
  margin: 12px 0;
}
.mobile-nav .mobile-menu ul li a img {
  float: right;
}
.mobile-nav .mobile-footer {
  background-color: #F0F0F0;
  height: 20%;
  overflow: auto;
}
.mobile-nav .mobile-footer a {
  text-decoration: none;
  color: black;
  display: flex;
  overflow: auto;
  margin: 24px 0 0 24px;
}
.mobile-nav .mobile-footer a img {
  margin-right: 10px;
}

.site-footer {
  padding: 63.5px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr, 1fr));
  outline: 3px solid yellow;
}

.grid-item {
  outline: 1px solid black;
}

.footer-label {
  cursor: pointer;
}

.footer-inputs {
  display: flex;
}

.footer-label > input {
  border: 1px solid #b82121;
  cursor: pointer;
}

span {
  font-family: "Assistant-Regular";
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.footer-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 4px;
  padding: 24px 0 16px 0;
}

.footer-links {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .site-footer {
    background-color: #4de211;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */