.main-container{
    h1{
        font-weight: 500;
    }
    h1::first-letter{
        text-transform: uppercase;
    }

    .delivery-wrapper{


        form{
            width: 280px;
            min-width: 70%;
            margin:20px auto;
            input{
                width: 100%;
                border: 1px solid rgb(226, 226, 226);
                background: none;
                padding: 10px 5%;
                margin: 4px 0;
            }
            .customer-name{
                display: flex;
                justify-content: space-between;
                input{
                    width: 49%;
                    border: 1px solid rgb(226, 226, 226);
                    background: none;
                    padding: 10px 5%;
                }
            }
            .contact-info{
                display: flex;
                justify-content: space-between;
                input{
                    width: 49%;
                    border: 1px solid rgb(226, 226, 226);
                    background: none;
                    padding: 10px 5%;
                }
            }
            
        }
    }

    .cart-wrapper{

        .cart-container{
        
        }

        .cart-product-container{
            width: 280px;
            min-width: 70%;
            margin:20px auto;

            div{
                margin:0 10px;
            }

        }
    }

    .payment-wrapper{
       

        .payment-content{
            width: 280px;
            min-width: 70%;
            margin:20px auto;
            display: flex;

            h1{
                font-weight: 500;
            }
            h1::first-letter{
                text-transform: uppercase;
            }

            .payment-method-wrapper{
                display: block;
                margin-left: 10px;
                width: 30%;
            }
            .payment-details-wrapper{
                width: 70%;
                input{
                    width: 49%;
                    border: 1px solid rgb(226, 226, 226);
                    background: none;
                    padding: 10px 5%;
                }
                .card-expire-date{
                    width: 50px;
                }
            }
        }
    }
}