.single-product-container {
    display: flex;
    gap: 50px;
    align-items: flex-end;
    padding: 4rem 0;
    height: 100%;

    @include for-tablet-portrait-down {
        justify-content: center;

        img {
            max-width: 50vw;
        }
    }

    @include for-mobile-down {
        flex-direction: column;
        align-items: center;

        img {
            min-width: 280px;
        }

        .product-info {
            max-width: 280px;
        }
    }

    img {
        max-height: 60vh;
    }

    .product-name {
        font-size: 20px;
    }

    .product-price {
        margin: 10px 0 15px 0;
    }

    .quantity {
        display: inline-block;
        border: 1px solid rgb(199, 199, 199);
        padding: 10px;
        margin-bottom: 10px;

        input {
            border: none;
            background: none;
            cursor: pointer;
        }

        #quantity-add,
        #quantity-remove {
            padding: 3px 5px;
        }

        #quantity {
            width: 70px;
            text-align: center;
        }
    }

    #button-submit,
    #button-buyitnow {
        background: none;
        cursor: pointer;
        padding: 10px;
        min-width: 100%;
        border: 2px solid black;
    }

    #button-buyitnow {
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px;
    }
}
