
.cart-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    & > *:hover{
        outline: 0;
        box-shadow: 0 0 2px #7D7D7D;
        transition: 0.2ms;
    }


    & .cart-storefront-btn{
        border: 1px solid #7D7D7D;
        background-color: inherit;
        font-size: 0.8125rem;
        padding: 0.78125rem 2.5rem 0.78125rem 0.6875em;
        color: $color;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    & .cart-product-container{

        border: 1px solid #7D7D7D;
        background-color: inherit;
        font-size: 0.8125rem;
        padding: 0.78125rem 2.5rem 0.78125rem 0.6875em;
        color: $color;
    }
}
