footer {
    padding: 65px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #d0d0d0;
    color: #121212bf;

    @include for-tablet-portrait-down {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer-selects {
        display: flex;
        gap: 25px;

        @include for-mobile-down {
            gap: 12px;
        }

        .footer-select {
            display: flex;
            flex-direction: column;

            label {
                font-size: 13px;
            }

            select {
                background-color: transparent;
                color: inherit;
                font-size: 13px;
                margin-top: 12px;
                padding: 12.5px 25px 12.5px 12.5px;
                appearance: none;
                position: relative;
                // TODO: move to icons
                background-image: url(../../icons/arrow-down.svg);
                background-repeat: no-repeat;
                background-position-x: 95%;
                background-position-y: center;
            }
        }
    }

    .footer-icons {
        display: flex;
        align-items: flex-end;
        gap: 26px;

        @include for-mobile-down {
            gap: 6px;
        }
    }

    .trademark {
        font-size: 10px;
        text-align: center;

        @include for-mobile-up {
            display: none;
        }
    }
}
