.before-footer-container{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    justify-content: space-between;
    border-top: 1px solid $color-lines;
    ul{
        font-family: Assistant-Regular;
        font-size: 1.125rem;
        list-style: none;
        text-transform: capitalize;
        padding: 15px 0;
        line-height: 250%;
        a{
            font-family: Assistant-Regular;
            font-size: 0.875rem;
            text-decoration:none;
            line-height: 300%;
            &:link, &:visited, &:active{
                color: $color-black;
            }
        }
    }
    li{
        font-family: Assistant-Regular;
        font-size: 0.875rem;
        line-height: 250%;
        &::first-letter{
            text-transform: capitalize;
        }

    }
    @include for-tablet-portrait-up {
        flex-direction: row;
        align-items:flex-start;
        gap: 25px;
    }
}




.footer-bottom {

    padding: 65px 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid $color-lines;
    color: #121212bf;

    @include for-tablet-portrait-down {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer-selects {
        display: flex;
        gap: 25px;

        @include for-mobile-down {
            gap: 12px;
        }

        .footer-select {
            display: flex;
            flex-direction: column;

            label {
                font-size: 13px;
            }

            select {
                background-color: transparent;
                color: inherit;
                font-size: 13px;
                margin-top: 12px;
                padding: 12.5px 25px 12.5px 12.5px;
                appearance: none;
                position: relative;
                // TODO: move to icons
                background-image: url(../../icons/arrow-down.svg);
                background-repeat: no-repeat;
                background-position-x: 95%;
                background-position-y: center;
            }
        }
    }

    .footer-icons {
        display: flex;
        align-items: flex-end;
        gap: 26px;

        @include for-mobile-down {
            gap: 6px;
        }
    }

    .trademark {
        font-size: 10px;
        text-align: center;

        @include for-mobile-up {
            display: none;
        }
    }
}
