.product-container {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(10.625rem, max-content));
}

.product-card {
    // grid-column-end: span 4;
    min-height: 10.625rem;
    background-image: url(../../images/product/Mobile/product.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-info {
        font-size: 24px;
    }
}

/* product animations *************************** */
.product-card {
    opacity: 0%;
    transform: translateY(50px) perspective(1000px);
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;

    .product-info {
        transform: translateZ(40px);
    }
}

.appear {
    opacity: 1;
    transform: translateY(0px);
}
/* *********************************************** */
