@font-face {
    font-family: Assistant-ExtraLight;
    src: url(../../fonts/Assistant-ExtraLight.ttf);
    // font-weight: 200;
}
@font-face {
    font-family: Assistant-Light;
    src: url(../../fonts/Assistant-Light.ttf);
    // font-weight: 300;
}
@font-face {
    font-family: Assistant-Regular;
    src: url(../../fonts/Assistant-Regular.ttf);
    // font-weight: 400;
}
@font-face {
    font-family: Assistant-SemiBold;
    src: url(../../fonts/Assistant-SemiBold.ttf);
    // font-weight: 600;
}
@font-face {
    font-family: Assistant-Bold;
    src: url(../../fonts/Assistant-Bold.ttf);
    // font-weight: 700;
}
@font-face {
    font-family: Assistant-ExtraBold;
    src: url(../../fonts/Assistant-ExtraBold.ttf);
    // font-weight: 900;
}